body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .game-container {
    margin: 50px auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #word-display {
    font-size: 24px;
    margin: 20px 0;
  }
  
  #options{ 
    background-color: white;
    padding: 1rem;
  }

  #options button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 10px 20px;
    width:95%;
    font-size: 16px;
    cursor: pointer;
  }
  
  #feedback {
    margin: 10px 0;
    font-weight: bold;
  }
  
  .score {
    margin-top: 20px;
  }
  